.navbar{
    background-color: #052659;
    padding: 10px 200px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.titleNav{
    color: #e0e0e0;
}

.logotipo{
    display: inline-block;
    margin-left: auto;
    
}

.img{
    width: 20px;
    height: auto;
}

.search-bar-client {
  max-width: 500px;
  margin: 20px;
  border: 2px solid #e0e0e0; 
  border-radius: 5px; 
  padding: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease
}